# Catch all TeX files in any directory
**/*.tex linguist-vendored
**/*.sty linguist-vendored
**/*.cls linguist-vendored
**/*.bib linguist-vendored

# Alternatively, just mark the entire paper folder as documentation
paper/* linguist-documentation