# Ignore all TeX files in the repository
*.tex linguist-vendored
*.sty linguist-vendored
*.cls linguist-vendored

# Specifically ignore  LLM usage folder
other/llm_usage/* linguist-documentation

# Ignore the generated library files
site_libs/* linguist-vendored